@{
    ViewData["Title"] = "404 - Page Not Found";
}

<div class="container text-center py-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h1 class="display-1 text-muted mb-4">404</h1>
            <h2 class="mb-4">Oops! Page Not Found</h2>
            <p class="lead mb-5">The page you're looking for doesn't exist.</p>
            
            <div class="error-video mb-4">
                <iframe src="https://www.youtube.com/embed/zfbp_gjjeug?autoplay=1&mute=0&loop=1&playlist=zfbp_gjjeug&controls=0&showinfo=0&rel=0&modestbranding=1&iv_load_policy=3&fs=0&disablekb=1" 
                        width="420" 
                        height="315"
                        title="404 Error Video" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen>
                </iframe>
            </div>
            
            <div class="d-flex gap-3 justify-content-center">
                <a href="/" class="btn btn-primary">
                    <i class="fas fa-home"></i> Go Home
                </a>
                <a href="javascript:history.back()" class="btn btn-secondary">
                    <i class="fas fa-arrow-left"></i> Go Back
                </a>
            </div>
        </div>
    </div>
</div>
